<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="AzureBlobAppender" type="log4net.Appender.AzureBlobAppender, log4net.Appender.Azure">
    <bufferSize value="5" />
    <param name="ContainerName" value="applogs" />
    <param name="DirectoryName" value="logs/webapi" />
    <!-- You can either specify a connection string or use the ConnectionStringName property instead -->
    <param name="ConnectionString" value="" /> 
  </appender>
  <appender name="aiAppender" type="Microsoft.ApplicationInsights.Log4NetAppender.ApplicationInsightsAppender, Microsoft.ApplicationInsights.Log4NetAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%message%newline" />
    </layout>
  </appender>
  <root>
    <level value="Info" />
    <appender-ref ref="AzureBlobAppender" />
    <appender-ref ref="aiAppender" />
  </root>
</log4net>